# --- Veritabanı Ayarları ---
DB_USER=admin
DB_PASSWORD=cok_gizli_sifre
DB_NAME=arena_db

# --- Bağlantı Linkleri ---
# Not: Docker içinde host adresi 'localhost' değil servis adı olan 'postgres' ve 'redis'tir.
DATABASE_URL=postgresql://admin:cok_gizli_sifre@postgres:5432/arena_db
REDIS_URL=redis://redis:6379

# --- Uygulama Ayarları ---
JWT_SECRET=super_gizli_jwt_sifre
API_PORT=3000
NODE_ENV=development

# --- Telegram Webhook Loglama ---
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_WARNING_TOPIC_ID=
TELEGRAM_INFO_TOPIC_ID=
TELEGRAM_ERROR_TOPIC_ID=
TELEGRAM_CRITICAL_TOPIC_ID=